    <nav class="navbar navbar-expand-lg navbar-dark shadow-0">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
        <img class="navbar-logo" src="../../../assets/navbar-logo.png" alt="image">
        </a>
        <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link ms-3 fw-bold" routerLink="/about">Personligt brev</a>
            </li>
            <li class="nav-item">
            <a class="nav-link ms-3 fw-bold" routerLink="/cv">CV</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link text-white" href="https://github.com/annasateri"><i class="fab fa-github"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="https://www.linkedin.com/in/anna-s%C3%A4teri-89150a147/"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li class="nav-item">
                <button class="btn ms-3 fw-bold" routerLink="/contact">Kontakta mig</button>
            </li>
        </ul>
        </div>
    </div>
    </nav>