<div class="about container">
    <h3>Personligt Brev</h3>
    <p>Jag söker praktik hos er för jag är säker på att ni kan få mig att utvecklas. Jag
    brinner för att bygga digitala upplevelser för användaren och ta fram responsiva
    lösningar som är anpassade för alla plattformar.</p>
    <br>
    <p>I sommar 2022 tar jag examen från EC Utbildning där jag har fått färdigheter i
    avancerad JavaScript, HTML & CSS. Vi har arbetat med olika ramverk som Vue,
    React och Angular. Vi har även läst Backend och UX design för att få god
    förståelse för ytterligare viktiga element i rollen som webbutvecklare.</p>
    <br>
    <p>I mina tidigare yrken som assistent och butikssäljare har jag lärt mig att vara
    lyhörd, sätta kunden i fokus och vara detaljorienterad. Jag har arbetat i många
    år i team och skulle säga att jag är den trygga punkten i teamet. Jag är lugn och
    metodisk i mitt arbete.</p>
    <br>
    <p>Jag skulle med glädje tillämpa mina kunskaper hos er och se mig själv växa i ert
    företag och arbeta framåt mot nya spännande mål och utmaningar.
    i övrigt ser jag och andra i min omgivning mig som en trevlig och jordnära tjej
    som alltid vill visa framfötterna.</p>
</div>